In [1]:
import pandas as pd
import sys
import numpy as np
sys.path.append("../helper_functions")
import defillama_utils as dfl
sys.path.pop()
from datetime import datetime, date

'../helper_functions'

In [2]:
protocols = ['uniswap-v1','uniswap-v2','uniswap-v3']

In [3]:
dfs = []
for p in protocols:
        df = dfl.get_tvl_by_app_for_all_chains(p)
        dfs.append(df)
final_df = pd.concat(dfs, ignore_index=True)

     protocol     chain token     USD value   token value
0  Uniswap V1  Ethereum  USDT  7.654283e+06  7.639005e+06

       protocol      chain  token     USD value   token value
0    Uniswap V2   Ethereum   USDT  1.723821e+09  1.722099e+09
1    Uniswap V2  Avalanche    DAI  8.800000e-04  8.800000e-04
2    Uniswap V2  Avalanche   WETH  5.729200e-01  2.200000e-04
3    Uniswap V2  Avalanche    JOE  1.419401e+01  4.370454e+01
4    Uniswap V2  Avalanche   USDT  2.722744e+01  2.720024e+01
..          ...        ...    ...           ...           ...
253  Uniswap V2       Base   BASE  6.855750e+00  4.129969e+06
254  Uniswap V2       Base  AIINU  5.535650e+00  7.984075e+02
255  Uniswap V2       Base    SKR  6.753840e+00  5.632933e+02
256  Uniswap V2       Base   KEPT  5.803000e-02  2.977818e+01
257  Uniswap V2       Base  MEDIA  1.200675e+02  1.092516e+01

[258 rows x 5 columns]

        protocol     chain   token     USD value       token value
0     Uniswap V3       Sei    USDC  1.307168e+06     1307196.41627
1     Uniswap V3       Sei    WSEI  4.108443e+05     1457907.84048
2     Uniswap V3       Sei    WETH  7.137410e+05         270.31754
3     Uniswap V3       Sei    USDT  1.205452e+06     1204247.40262
4     Uniswap V3  Moonbeam   WGLMR  3.875032e+04       228332.5727
...          ...       ...     ...           ...               ...
3848  Uniswap V3  Ethereum  TYRANT  5.821382e+01        1151.40701
3849  Uniswap V3  Ethereum     VPS  1.300000e-04           0.01107
3850  Uniswap V3  Ethereum     GPT  4.341423e+05    66296385.56891
3851  Uniswap V3  Ethereum    CEEK  1.000000e-05           0.00041
3852  Uniswap V3  Ethereum     AMO  1.546292e+05  1406358902.86828

[3853 rows x 5 columns]

In [4]:
final_df.sample(5)

# Generate filename
protocol_names = '_'.join(protocols)
today_date = date.today().strftime("%Y%m%d")
filename = f'{protocol_names}_{today_date}.csv'

# Save to CSV
final_df.to_csv(f'csv_outputs/{filename}', index=False)

print(f"Data saved to csv_outputs/{filename}")